<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.rockjim.lmsservice.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="whut.rockjim.lmsservice.entity.Book">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="publishingHouse" column="publishing_house" jdbcType="VARCHAR"/>
            <result property="classificationId" column="classification_id" jdbcType="VARCHAR"/>
            <result property="publishDate" column="publish_date" jdbcType="TIMESTAMP"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="libraryId" column="library_id" jdbcType="CHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="CHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,author,
        publishing_house,classification_id,publish_date,
        number,picture,content,
        library_id,place,description,
        state,is_deleted,gmt_create,
        gmt_modified
    </sql>
</mapper>
