<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.rockjim.lmsservice.mapper.ClassificationMapper">

    <resultMap id="BaseResultMap" type="whut.rockjim.lmsservice.entity.Classification">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="classification" column="classification" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classification,description,
        is_deleted,gmt_create,gmt_modified
    </sql>
</mapper>
